body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
#navbar {
  background: purple;
  padding: 1.5rem;
}

#homepage {
  background-image: radial-gradient(
    circle,
    white 0% 70%,
    black 70% 85%,
    black 85% 100%
  );
  height: 100vh;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.nav-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.heading1 {
  font-size: 4rem;
  color: black;
  margin: 0;
  padding: 0;
  animation-name: heading1;
}

.heading2 {
  font-size: 2rem;
  color: black;
}
.p1-paragraph {
  font-size: 2rem;
  color: black;
}
.p2-paragraph {
  font-size: 2rem;
  color: black;
}
